*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --sans: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  --mono: 'Roboto Mono', 'Courier New', Courier, monospace;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  background: #f7f7f7;
  color: #000;
}

#root {
  width: 100%;
  min-height: 100svh;
}
